*~
*.o
*.d
*.so
*.root
*.xml
*.pcm
*.jdl
myTask*.sh
exe/*
result/*
*.log
*.lot
*.lof
*.toc
*.out
*.bib
*.aux
*.pdf
*.png
*.jpg
*.ps
*.eps
myAnalysis.C
myTask_merge.C
outputs_valid
stderr
stdout
.DS_Store
Test.C